-e git+https://opendev.org/starlingx/distcloud-client.git@master#egg=distributedcloud-client&subdirectory=distributedcloud-client
-e git+https://github.com/cloudify-cosmo/starlingx.config.git@master#egg=cgtsclient&subdirectory=sysinv/cgts-client/cgts-client
cryptography==3.3.2
decorator==4.4.2