cryptography==3.3.2
python-keystoneclient==3.21.0

flake8
mock
pylint
pytest
tox

-e "git+https://opendev.org/starlingx/distcloud-client.git@master#egg=distributedcloud-client&subdirectory=distributedcloud-client"
-e "git+https://github.com/starlingx/config.git@7.0.0#egg=cgtsclient&subdirectory=sysinv/cgts-client/cgts-client"

#m
-e "git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common==6.3.1"

nose

setuptools==40.7.3
requests
cloudify==6.3.1
keystoneauth1==5.0.0
re
cloudify-utilities-plugins-sdk>=0.0.61