babel # Required by distributedcloud-client
PrettyTable<0.8,>=0.7.2 # Required by distributedcloud-client
platformdirs>=2.4.0,<3
openstacksdk==0.15.0
cloudify-common>=6.4.2,<7.0
git+https://github.com/starlingx/config.git@r/stx.4.0#egg=cgtsclient&subdirectory=sysinv/cgts-client/cgts-client
git+https://github.com/starlingx/distcloud-client.git@r/stx.4.0#egg=distributedcloud-client&subdirectory=distributedcloud-client
