flake8
mock
pylint
pytest
tox

-e git+https://opendev.org/starlingx/distcloud-client.git@master#egg=distributedcloud-client&subdirectory=distributedcloud-client
-e git+https://opendev.org/starlingx/config.git@master#egg=cgtsclient&subdirectory=sysinv/cgts-client/cgts-client


#m
git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common==6.3.1

nose

setuptools==40.7.3
requests
cloudify==6.3.1
keystoneauth1==5.0.0
re
git+https://github.com/cloudify-incubator/cloudify-utilities-plugins-sdk.git
